<!-- Page Content -->
<div class="content text-center">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 animated fadeIn">
            <img class="push-50-t" src="assets/img/various/_apricon_logo.png" srcset="assets/img/various/apricon_logo.png 2x" alt="Apricon Logo">
            <div class="h1 font-w300 text-black push-30-t push-50">Engineering computing made easy!</div>
        </div>
    </div>
</div>
<div class="content bg-white">
    <div class="row push-30-t push-30">
        <div class="col-md-6 col-md-offset-3">
            <p>This application uses the best of the best fuctionality and with quick UI response. A lot of consideration has been thought of while creating this app.</p>
            <p>Apricon's core functionality was rewritten and adjusted to play nice with Windows system OS and some new features were introduced including lazy loading and localStorage support for saving your app’s carried out operation.</p>
            <p>Apricon is preinstalled with first class security and privacy to make sure all operation performed with this app are kept safe and sound. So, no worries you see!</p>
        </div>
    </div>
</div>
<div class="content text-center">
    <p>
        <a class="btn btn-lg btn-minw btn-primary" data-ui-sref="login">Get Started! <i class="fa fa-fw fa-arrow-right push-5-l"></i></a>
    </p>
    <p class="text-center">
        Crafted with <i class="fa fa-heart text-city"></i> by <a class="font-w600" href="" target="_blank">TeamRevolve</a>
    </p>
</div>
<!-- END Page Content -->