<!-- Page Header -->
<div class="content bg-gray-lighter">
    <h1 class="page-heading push">
        Account <small> Welcome Admin ( {{name}} ).</small>
    </h1>
</div>
<!-- END Page Header -->

<!-- Account Image Header -->
<div class="content bg-image overflow-hidden text-center" style="background-image: url('assets/img/photos/photo2.jpg'); height: 250px;">
    <div>
        <img class="img-avatar img-avatar96 img-avatar-thumb" src="assets/img/avatars/avatar1.jpg" style="position: center;" alt="">
    </div>
</div>
<!-- END Account Image Header -->

<!-- Page Content -->

<!-- Chat layout and demo functionality is initialized in js/controllers.js -> UiChatCtrl Controller -->
<div class="js-chat-container" data-chat-mode="popup" data-chat-height="360">
    <!-- Chat Window -->
    <div class="block block-bordered remove-margin-b" id="chat-block">
        <div class="block-header bg-gray-lighter">
            <ul class="block-options">
                <li>
                    <button type="button" data-ng-click="helpers.uiBlocks('#chat-block', 'content_toggle');">
                        <i class="fa fa-arrows-v"></i>
                    </button>
                </li>
            </ul>
            <h3 class="block-title">
                <img class="img-avatar img-avatar16" src="assets/img/avatars/avatar11.jpg" alt="">
                <span class="push-5-l">Contact Support</span>
            </h3>
        </div>
        <div class="js-chat-talk overflow-y-auto block-content block-content-full" data-chat-id="7">
            <!-- Messages -->
            <div class="font-s12 text-muted text-center push-20-t push-15"><em>Yesterday</em></div>
            <div class="block block-rounded block-transparent push-15 push-50-l">
                <div class="block-content block-content-full block-content-mini bg-gray-lighter">Hi there!</div>
            </div>
            <div class="font-s12 text-muted text-center push-20-t push-10"><em>Today</em></div>
            <div class="block block-rounded block-transparent push-15 push-50-r">
                <div class="block-content block-content-full block-content-mini bg-gray-light">Hi!!!</div>
            </div>
            <!-- END Messages -->
        </div>
        <div class="js-chat-form block-content block-content-full block-content-mini border-t">
            <form action="" method="post">
                <input class="js-chat-input form-control" type="text" data-target-chat-id="7" placeholder="Type a message and hit enter..">
            </form>
        </div>
    </div>
    <!-- END Chat Window -->
</div>
<!-- END Page Content -->


                        