<!-- Page Header -->
<div class="content bg-gray-lighter">
    <h1 class="page-heading push">
        Account <small> Welcome Admin ( {{name}} ).</small>
    </h1>
</div>
<!-- END Page Header -->

<!-- Account Image Header -->
<div class="content bg-image overflow-hidden text-center" style="background-image: url('assets/img/photos/photo2.jpg'); height: 250px;">
    <div>
        <img class="img-avatar img-avatar96 img-avatar-thumb" src="assets/img/avatars/avatar1.jpg" alt="">
    </div>
</div>
<!-- END Account Image Header -->


                        