<!-- Basic Tank Content -->
	<div class="bg-white pulldown">
		<div class="content content-box overflow-hidden">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
					<div class="push-30-t push-50 animated fadeIn">
						<!--Title-->
						<div class="text-center">
							<h2 class="text-muted push-15-t">Basic Tank Details</h2>
						</div>
						<!--End Of Title-->
						<hr>

						<div class="block">
                			<div class="block-header">
                    			<h3 class="block-title">Fill The Required Parameters</h3>
               			 	</div>

						<form class="form-horizontal push-30-t" action="mainmenu.html" method="post">
							<div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material">
                                    <input class="form-control" type="text" id="course-number" name="course-number" placeholder="Enter number of courses..">
                                    <label for="course-number">Courses</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material">
                                    <input class="form-control" type="text" id="stored-product" name="stored product" placeholder="Enter product stored..">
                                    <label for="stored-product">Product</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material">
                                    <input class="form-control" type="text" id="product-density" name="product-density" placeholder="Enter density of product..">
                                    <label for="product-density">Density (kg/m3)</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material">
                                    <input class="form-control" type="text" id="paint-thickness" name="paint-thickness" placeholder="Enter average paint thickness..">
                                    <label for="paint-thickness">Paint thickness (mm)</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                        	<div class="col-xs-9">
                        		<div class="form-material">
                        			<input data-js-tags-input class="form-control" type="text" id="example-tags2" name="example-tags2" value="Eg: 5, 6">
                        			<label for="example-tags2">Circumference for each course (mm)</label>
                        		</div>
                        	</div>
                        </div>
                        <div class="form-group">
                        	<div class="col-xs-9">
                        		<div class="form-material">
                        			<input data-js-tags-input class="form-control" type="text" id="example-tags2" name="example-tags2" value="Eg: 5, 6">
                        			<label for="example-tags2">Height for each course (mm)</label>
                        		</div>
                        	</div>
                        </div>
                        <div class="form-group">
                        	<div class="col-xs-9">
                        		<div class="form-material">
                        			<input data-js-tags-input class="form-control" type="text" id="example-tags2" name="example-tags2" value="Eg: 5, 6">
                        			<label for="example-tags2">Shell plate thickness for each course (mm)</label>
                        		</div>
                        	</div>
                        </div>
                        <!-- Select2 (data-js-select2 attribute is initialized in js/directives.js) -->
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material">
                                    <select class="form-control" id="val-select22" name="val-select22" style="width: 100%;" data-placeholder="Choose one.." data-js-select2>
                                        <option value="">Select level</option><!-- Required for data-placeholder attribute to work with Select2 plugin -->
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                    </select>
                                    <label for="val-select2">Incremental Level</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                        	<div class="col-sm-9">
                        		<div class="form-material">
                        			<input class="form-control" type="text" id="dthick" name="dthick" placeholder="Enter thickness of datum plate..">
                        			<label for="dthick">Datum thickness (mm)</label>
                        		</div>
                        	</div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material">
                                    <input class="form-control" type="text" id="ndia" name="ndia" placeholder="Enter norminal diameter of tank..">
                                    <label for="ndia">Norminal diameter (mm)</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material">
                                    <input class="form-control" type="text" id="bstrp" name="bstrp" placeholder="Enter number of bult strap..">
                                    <label for="bstrp">Bult strap</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material">
                                    <input class="form-control" type="text" id="bthick" name="bthick" placeholder="Enter bult strap thickness..">
                                    <label for="bthick">Bult strap thickness (mm)</label>
                                </div>
                            </div>
                        </div>
                         <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material">
                                    <input class="form-control" type="text" id="wstrp" name="wstrp" placeholder="Enter width of bult strap..">
                                    <label for="wstrp">Bult strap width (mm)</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material">
                                    <select class="form-control" id="dmethod" name="dmethod">
                                        <option value="">Select method</option>
                                        <option value="wet">WET</option>
                                        <option value="dry">DRY</option>
                                    </select>
                                    <label for="dmethod">Deadstock method</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                        	<div class="col-sm-9">
                        		<div class="form-material">
                        			<input class="form-control" type="text" id="volume" name="volume" placeholder="Enter volume of deadstock..">
                        			<label for="volume">Deadstock volume (litres)</label>
                        		</div>
                        	</div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="form-material">
                                    <input class="form-control" type="text" id="temp" name="temp" placeholder="Enter temperature of tank..">
                                    <label for="temp">Temperature (Degree Centigrate)</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <button class="btn btn-sm btn-primary" type="submit">POST</button>
                            </div>
                        </div>
                         <div class="form-group">
                            <div class="col-xs-12">
                                <button class="btn btn-sm btn-primary" type="submit">VIEW</button>
                            </div>
                        </div>
						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- DAVID!!! TRY TO SPLIT THEM LEFT AND RIGHT WITH THE BUTTON AREA AT THE BUTTOM CENTER-->