<!-- Basic Tank Content -->
	<div class="bg-white pulldown">
		<div class="content content-box overflow-hidden">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
					<div class="push-30-t push-50 animated fadeIn">
						<!--Title-->
						<div class="text-center">
							<i class="fa fa-2x fa-circle-o-notch text-primary"></i>
							<p class="text-muted push-15-t">Basic Tank Details</p>
						</div>
						<!--End Of Title-->
						<hr>

						<form class="js-validation-login form-horizontal push-30-t" method="post">
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>