<div class="content bg-defualt">
    <div class="row items-push">
        <div class="col-sm-8">
            <h1 class="page-heading">
                 <small><i>making engineering computing easy</i></small>
            </h1>
        </div>
        <div class="col-sm-4 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Main-Menu</li>
                <li>Basic Tank Details</li>
                <li><a class="link-effect" href="">Feed Data</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content">
    <div class="row">
              
              <div class="block-header bg-gray-dark">
                  <h5 class="block-title text-muted" style="font-size:14px !important; color:#ffffff;">effect of various correction factor</h>
              </div>

        
            <div class="block">
                <div class="block-content block-content-full">
                    <p>Effect of Temperature: <span>...</span></p>
                    <hr>
                    <p>Correction for the effect of each course: <span>...</span></p>
                    <hr>
                    <p>Effect of bultstrap on each course : <span>...</span></p>
                    <hr>
                    <p>Corrected circumference for each course: <span>...</span></p>
                    <hr>
                    <p>Internal diameter for each course: <span>...</span></p>
                    <hr>
                    <p>Total Height: <span>...</span></p>
                </div>
            </div>
    </div>
</div>
